* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* HERO */
.hero-container {
  position: relative;
  background-image: url('./assets/imgs/Hero-animals1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  margin: 0 auto;
}

.hero-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-btn {
  margin-top: 15px;
}

/* NAVBAR */
.search-container {
  width: 40%;
}

.search-container input:focus {
  border-color: #28a745 !important;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5) !important;
  outline: none !important;
}

.cart-icon {
  color: #333;
}

.cart-icon:hover {
  transform: scale(1.1);
  color: green;
}

.nav {
  padding: 10px 0;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #333 !important;
}

.nav-link:hover {
  color: green !important;
}

.dropdown-menu {
  border-radius: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-sm {
  margin-block: 10%;
}

.container-sm p {
  margin-top: 5%;
  font-weight: bold;
  text-transform: uppercase;
}

.hamburger {
  cursor: pointer;
  display: none;
  color: #333;
}

.hamburger:hover {
  color: green;
  transform: scale(1.1);
}

/* SETTAGGI VISUALIZZAZIONE LISTA O GRIGLIA*/
.products-card{
  position: relative;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.products-container.list-view {
  flex-direction: column;
  /* Imposta la visualizzazione a colonna */
  align-items: center;
  /* Centra le card orizzontalmente nella lista */
}

.products-container.list-view .products-card {
  flex-direction: row;
  /* Allinea immagine e testo orizzontalmente */
  align-items: center;
  /* Allinea verticalmente gli elementi */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  /* Allinea il testo a sinistra nella visualizzazione a lista */
  width: 70%;
  /* Imposta la larghezza al 70% */
  max-width: 70%;
  /* Assicura che non superi il 70% */
  margin-bottom: 15px;
  /* Aggiunge spazio tra le card nella lista */
}

.products-container.list-view .products-card img {
  width: 150px;
  /* Larghezza fissa per l'immagine nella lista */
  height: 150px;
  /* Altezza fissa per l'immagine nella lista */
  object-fit: contain;
  margin-right: 20px;
  /* Spazio tra immagine e testo */
}

.products-container.list-view .products-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Allinea il contenuto del body a sinistra */
  flex-grow: 1;
  /* Permette al body di occupare lo spazio rimanente */
}

.products-container.list-view .products-card .card-body .card-title {
  margin-bottom: 5px;
}

.products-container.list-view .products-card .card-body .card-text {
  margin-bottom: 10px;
}


/*PRODUCT LIST */
.promotion{
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: #ff4d4d; /* Colore di sfondo rosso */
  color: white; /* Testo bianco */
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Ombra per farlo risaltare */
  z-index: 10; /* Assicurati che sia sopra gli altri contenuti */
  transform: rotate(-15deg); /* Ruota leggermente il bollino per un effetto dinamico */
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.products-card {
  flex: 1 1 calc(16.66% - 20px);
  max-width: calc(16.66% - 20px);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-card:hover {
  transform: scale(1.05);
}

.products-card img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

/* CAROUSEL */
.card,
.card-related {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 160px;
  object-fit: contain;
  object-position: center;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* BREADCRUMB */
.breadcrumb-chevron {
  background-color: #F9F5EC !important;
  padding: 20px;
  border-radius: 10px;
  width: 80% !important;
  margin: 0 auto !important;
}

/* CONTENITORE DETTAGLIO PRODOTTO */
.container-product {
  background-color: #F9F5EC;
  padding: 20px;
  margin: 0 auto;
  /* Assicura che il contenitore sia centrato */
  border-radius: 10px;
  max-width: 1200px;
  /* Limita la larghezza massima per evitare allungamenti */
}

.product-detail {
  display: flex;
  flex-wrap: wrap;
  /* Aggiunto per permettere agli elementi di andare a capo su schermi piccoli */
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Impostato al 100% per migliorare la responsività */
  max-width: 450px;
  /* Limita la larghezza massima dell'immagine */
  height: auto;
  /* Permette all'immagine di adattarsi al contenitore */
  background-color: #fff;
}

.product-image {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 2;
  padding-left: 2rem;
  max-width: 60%;
}

.product-info h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-info p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-btn {
  background-color: #6C9D7C;
  color: white;
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease-in-out;
}

.quantity-btn:hover {
  background-color: #3f8858;
}

.quantity-input {
  width: 50px;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  outline: none;
  background: transparent;
}

/* Bottoni arancioni */
.btn-primary {
  background: #D4A017 !important;
  /* Bottone arancione */
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
  background: #e0a800 !important;
}

/* Frecce del carosello di scorrimento */
.swiper-button-next,
.swiper-button-prev {
  color: green !important;
  /* Colore verde per le frecce */
}

.animation {
  animation: fadeIn 0.5s ease-in-out;
  width: 300px
}


/* Media queries */
@media (max-width: 768px) {

  .hero-container {
    height: 70vh;
    background-position: 58% 50%;
  }

  .hero-content h4,
  .hero-content h5 {
    font-size: 1rem;
  }

  .hero-content h4 {
    margin-top: 20px;
  }

  .hero-content h1 {
    display: none;
  }

  /* Sezione informazioni del prodotto */
  .products-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .container-product {
    padding: 0;
    margin: 5px;
  }

  .product-detail {
    max-width: 1000px !important;
    padding: 1rem !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .product-image-container {
    max-width: 100%;
    /* L'immagine occupa tutta la larghezza */
  }

  .product-info {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
  }

  .product-info h1 {
    font-size: 1.5rem;
  }

  .product-info p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .product-info h6 {
    font-size: 1rem;
  }

  .breadcrumb-chevron {
    font-size: 0.8rem !important;
  }

  /*navbar hamburger menu*/
  .hamburger {
    display: block;
  }

  .menu-container {
    display: none;
    background-color: #e9fbe9;
    padding: 1rem 0;
  }

  .menu-container.open {
    display: block;
  }

  .nav.justify-content-center {
    flex-direction: column !important;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .nav-link {
    padding: 10px 0;
    font-size: 18px;
  }

  .search-container {
    width: 100% !important;
  }

  /*se vogliamo che le categorie stiano nella parte destra del menu
  .menu-container .container {
    text-align: right;
  }

  .menu-container .nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-container .dropdown-menu {
    text-align: right;
    right: 0;
    left: auto;
  }

  .menu-container .d-flex.flex-column {
    align-items: flex-end !important;
  }*/

  .menu-container .d-flex.flex-column {
    order: 2;
    /* Move search and icons below categories */
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .menu-container .nav.flex-column {
    order: 1;
    /* Categories appear first */
    width: 100%;
  }

  .menu-container .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-container .mt-3.d-flex.gap-3 {
    margin-top: 15px !important;
  }

  .dropdown-menu {
    display: none;
  }

  .dropdown-menu.open {
    display: block !important;
    position: relative;
    /* o static, per evitare sovrapposizioni */
    border: none;
    /* se non vuoi il bordo classico */
    box-shadow: none;
    /* opzionale */
  }

}

/* Per schermi medio-grandi (tablet, piccoli desktop) */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-container {
    height: 70vh;
    background-position: 55% 50%;
  }

  .card {
    min-height: 350px !important;
  }

  .container-product {
    padding: 0;
    margin: 5px;
  }

  .product-detail {
    max-width: 1000px !important;
    padding: 1rem !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  /* Immagine prodotto */
  .product-image-container {
    width: 400px;
    /* max-width: 400px;*/
  }

  .product-image {
    max-height: 250px;
  }

  /* Sezione informazioni del prodotto */
  .product-info {
    max-width: 70%;
  }

  .product-info h1 {
    font-size: 2.3rem;
  }

  .product-info p {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .product-info h6 {
    font-size: 1.2rem;

  }


}



/* Per schermi desktop (oltre 1200px) */

@media (min-width: 1025px) {
  .product-detail {
    gap: 4rem;
  }

  .product-info {
    max-width: 60%;
  }
}

/* Footer */

.footer {
  background: linear-gradient(135deg, #6DBE45, #3D9C56);
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  align-items: flex-start;

}

/* Sezione Contatti */
.footer-contact {
  text-align: left;
  width: 45%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.footer-contact p {
  font-size: 16px;
  margin: 5px 0;
  color: #1E3A8A;
  font-weight: bold;
}

.footer-contact a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}

.footer-contact a:hover {
  text-decoration: underline;
}

/* Sezione Social */
.footer-social {
  text-align: right;
  width: 45%;
  padding-right: 80px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.footer-social p {
  font-size: 16px;
  margin: 5px 0;
  color: #1E3A8A;
  margin-bottom: 15px;

}

.footer-social a {
  font-size: 30px;
  color: white;
  margin-left: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;

}

.footer-social a:hover {
  color: #FFD700;
  transform: scale(1.2);
}


/* icona-zampa */
.footer-container:before {
  content: "\1F43E";
  font-size: 40px;
  display: block;
  margin: 0 auto 10px;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-contact,
  .footer-social {
    width: 90%;
    /* Le sezioni occupano il 90% della larghezza */
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .footer-contact p {
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
    text-align: left;
  }

  .footer-contact a {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-social a {
    font-size: 25px;
    margin-left: 10px;
    padding: 8px;
  }
}


/* Carrello-css */

/* Stile per il contenitore dei bottoni */
.button-container {
  display: flex;
  gap: 15px;
  /* Aggiunge spazio tra i bottoni */
  justify-content: center;
  /* Centra i bottoni orizzontalmente */
  margin-top: 20px;
}

/* Stile per i bottoni (ridotti in dimensioni) */
.button-container button {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}


/* Stile per il bottone 'Vai alla Pagina di Checkout' */
.button-container .checkout-btn {
  background-color: #28a745;
  color: white;
}

.button-container .checkout-btn:hover {
  background-color: #218838;
}

/* Stile per il bottone 'Svouta Carrello' */
.button-container .empty-cart-btn {
  background-color: #dc3545;
  color: white;
}

.button-container .empty-cart-btn:hover {
  background-color: #c82333;
}

.button-container .checkout-btn {
  margin-bottom: 8px;
  border-radius: 5px;
}

.button-container .empty-cart-btn {
  margin-bottom: 8px;
  border-radius: 5px;
}

/* Stile per la searchBar con autocomplete */
.search-results-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  /* O la larghezza desiderata */
  z-index: 1000;
  margin-top: 5px;
}

.search-result-item {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.search-result-item:hover {
  color:white;
  background-color: #198754;
  cursor: pointer;
}